@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}
@font-face {font-family: "Didot Regular","Segoe UI";
	src: url("../font/Didot Regular.ttf"),url("../font/SEGOEUI.TTF");}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Didot Regular';
}
.hed{
	font-family: Didot;
	align-self: center;
	display: block;
	position: fixed;
	font-size: 50px;
	color: white;
	transform: rotate(270deg);
}
.fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
 scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;

}
.fullscreen .container {
  padding: 15px;
  max-width: 1500px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 scroll-snap-align: start;
	background-color: black
}
.fullscreen .container .card {
  overflow: hidden;
  width: 47%;
  height: 60%;
  background: #fff;
  box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.19);
  transition: 0.6s;
  border-radius: 2px;
  position: relative;
  display: flex;
}
.fullscreen .container .card:hover {
  transform: translateY(-15px);
  box-shadow: 1px 12px 34px rgba(0, 0, 0, 0.31);
}
.fullscreen .container .card:hover .sinopse {
  opacity: 1;
  transition-delay: 0.4s;
}
.fullscreen .container .card:hover .sinopse .view {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.6s;
  transition-delay: 1s;
}
.fullscreen .container .card:hover .sinopse .content-sinopse .text {
  transform: translateY(0);
  transition-delay: 0.6s;
}
.fullscreen .container .card:hover .sinopse .content-sinopse .title {
  transform: translateY(0);
  transition-delay: 0.2s;
}
.fullscreen .container .card:hover .date {
  transform: translateY(-100%);
  opacity: 0;
}
.fullscreen .container .card:hover .content {
  transform: translateY(100%);
  opacity: 0;
}
.fullscreen .container .card .date {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  transition: 0.8s;
}

.fullscreen .container .card .content {
  transition: 0.8s;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  padding: 25px 25px 50px 25px;
}
.fullscreen .container .card .content .title {
  width: 100%;
  color: #fff;
  font-size: 44px;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 12px;
}
.fullscreen .container .card .content .text {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.fullscreen .container .card .sinopse {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 25px 50px 25px;
  background: rgba(0, 0, 0, 0.78);
  color: #fff;
  font-weight: 300;
  opacity: 0;
  transition: 0.8s;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.fullscreen .container .card .sinopse video {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0%;
  height: 100%;
}
.fullscreen .container .card .sinopse iframe {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0%;
  height: 100%;
}
.fullscreen .container .card .sinopse .view {
  position: absolute;
  bottom: 15px;
  right: 25px;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.6s;
  cursor: pointer;
}
.fullscreen .container .card .sinopse .content-sinopse .title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  transform: translateY(-100%);
  transition: 0.6s;
}
.fullscreen .container .card .sinopse .content-sinopse .text {
  transform: translateY(100%);
  transition: 0.6s;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-size: 14px;
}
.fullscreen .container .card_1 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/maxresdefault.jpg") no-repeat center/cover;
}
.fullscreen .container .card_2 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/pixel.JPG") no-repeat center/cover;
}
.fullscreen .container .card_3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/idpr.JPG") no-repeat center/cover;
}

.fullscreen .container .card_4 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/ta.JPG") no-repeat center/cover;
}
.fullscreen .container .card_5 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/den.JPG") no-repeat center/cover;
}
.fullscreen .container .card_6 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/maxresdefault (1).jpg") no-repeat center/cover;
}

.fullserie {
  background-color: #333;
  -webkit-clip-path: circle(0% at 0 100%);
  clip-path: circle(0% at 0 100%);
  min-height: 550px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: .6s;
}
.fullserie.active {
  background-color: #333;
  transition: .6s;
  transition-delay: 0.45s;
  -webkit-clip-path: circle(270% at 220px 88%);
  clip-path: circle(270% at 220px 88%);
}
.fullserie .close {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fullserie .close img {
  width: 22px;
}
.fullserie .episodes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(4, minmax(230px, auto));
  grid-gap: 30px;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(260px, auto);
  width: 100%;
  height: 100%;
  padding: 60px 60px 120px 60px;
}
.fullserie .episodes .episode {
  background: red;
}

@media (min-width: 580px) and (max-width: 992px) {
  .fullscreen {
    height: auto;
  }
  .fullscreen .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .fullscreen .container .card {
    overflow: hidden;
    width: 45%;
    height: 400px;
    background: #fff;
    box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.19);
    transition: 0.6s;
    border-radius: 2px;
    position: relative;
    display: flex;
    margin-bottom: 10%;
  }
  .fullscreen .container .card:nth-child(-n+2) {
    margin-top: 10%;
  }
  .fullscreen .container .card .content .title {
    width: 100%;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .fullscreen .container .card .content .text {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
  }
  .fullscreen .container .card .sinopse {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 25px 50px 25px;
    background: rgba(0, 0, 0, 0.78);
    color: #fff;
    font-weight: 300;
    opacity: 0;
    transition: 0.8s;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .fullscreen .container .card .sinopse video {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: 0px;
    height: 100%;
  }
	
  .fullscreen .container .card .sinopse .view {
    position: absolute;
    bottom: 15px;
    right: 25px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.6s;
    cursor: pointer;
  }
  .fullscreen .container .card .sinopse .content-sinopse .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    transform: translateY(-100%);
    transition: 0.6s;
  }
  .fullscreen .container .card .sinopse .content-sinopse .text {
    transform: translateY(100%);
    transition: 0.6s;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 14px;
  }
  .fullscreen .container .card_1 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/maxresdefault.jpg") no-repeat center/cover;
}
.fullscreen .container .card_2 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/pixel.JPG") no-repeat center/cover;
}
.fullscreen .container .card_3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/idpr.JPG") no-repeat center/cover;
}

.fullscreen .container .card_4 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/ta.JPG") no-repeat center/cover;
}
.fullscreen .container .card_5 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/den.JPG") no-repeat center/cover;
}
.fullscreen .container .card_6 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/maxresdefault (1).jpg") no-repeat center/cover;
}
}

@media (min-width: 320px) and (max-width: 580px) {
  .fullscreen {
    height: auto;
  }
  .fullscreen .container {
    flex-wrap: wrap;
  }
  .fullscreen .container .card {
    overflow: hidden;
    width: 90%;
    height: 400px;
    background: #fff;
    box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.19);
    transition: 0.6s;
    border-radius: 2px;
    position: relative;
    display: flex;
    margin-bottom: 10%;
  }
  .fullscreen .container .card .content .title {
    width: 100%;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .fullscreen .container .card .content .text {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
  }
  .fullscreen .container .card .sinopse {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 25px 50px 25px;
    background: rgba(0, 0, 0, 0.78);
    color: #fff;
    font-weight: 300;
    opacity: 0;
    transition: 0.8s;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .fullscreen .container .card .sinopse video {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: 0px;
    height: 100%;
  }
  .fullscreen .container .card .sinopse .view {
    position: absolute;
    bottom: 15px;
    right: 25px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.6s;
    cursor: pointer;
  }
  .fullscreen .container .card .sinopse .content-sinopse {
    pointer-events: none;
  }
  .fullscreen .container .card .sinopse .content-sinopse .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    transform: translateY(-100%);
    transition: 0.6s;
  }
  .fullscreen .container .card .sinopse .content-sinopse .text {
    pointer-events: none;
    transform: translateY(100%);
    transition: 0.6s;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 14px;
  }
  .fullscreen .container .card_1 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/maxresdefault.jpg") no-repeat center/cover;
}
.fullscreen .container .card_2 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/pixel.JPG") no-repeat center/cover;
}
.fullscreen .container .card_3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/idpr.JPG") no-repeat center/cover;
}

.fullscreen .container .card_4 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/ta.JPG") no-repeat center/cover;
}
.fullscreen .container .card_5 {
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/den.JPG") no-repeat center/cover;
}
.fullscreen .container .card_6 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("../img/maxresdefault (1).jpg") no-repeat center/cover;
}
}
#return-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i
	{
		color: #fff;
		top: 5px;}
	